In [2]:
from faker import Faker
import csv
from random import randint
import pandas as pd

# Big Voting Table

In [3]:
def rand_n(n, min_val, max_val):
    """Génère une liste de n entiers aléatoires entre min_val et max_val."""
    return [randint(min_val, max_val) for _ in range(n)]

In [4]:
# Générateur de données en français
fake = Faker('fr_FR')

# Génération de 220 noms
noms = [fake.name() for _ in range(220)]
df = pd.DataFrame({'Nom': noms})
print(df.shape)
df.head()

(220, 1)

                             Nom
0                  Gérard Dumont
1                   Hugues Hamon
2  Timothée-Théophile Chevallier
3               Zacharie Lambert
4                 Martin Germain

In [5]:
nb = 20
for i in range(nb):
    name = df.loc[i, 'Nom']
    name = "Cd. " + name
    df[name] = 0

df = df.drop(index=range(0, nb))

print(df.shape)

df.head()

(200, 21)

,Nom,Cd. Gérard Dumont,Cd. Hugues Hamon,Cd. Timothée-Théophile Chevallier,Cd. Zacharie Lambert,Cd. Martin Germain,Cd. Élodie Gaillard,Cd. Alexandre du Jean,Cd. Charlotte Bruneau,Cd. Maurice Rossi,...,Cd. Marcelle Bailly,Cd. Suzanne-Christine Gaillard,Cd. Adèle Dumas,Cd. Julie Pinto-Fernandes,Cd. Dominique Nguyen,Cd. Franck Jourdan-Morel,Cd. Alexandre Rey-Diallo,Cd. Jérôme Lombard,Cd. Paulette Gros,Cd. Corinne Boulay
20,Bernard Marty,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Emmanuelle Delaunay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Denise Lelièvre,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Émilie-Claire Mercier,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Caroline Joly,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
v = list(range(1, nb+1))

def permute(lst):
    """Retourne une permutation aléatoire de la liste donnée."""
    lst_copy = lst[:]
    random_permutation = []
    while lst_copy:
        index = randint(0, len(lst_copy) - 1)
        random_permutation.append(lst_copy.pop(index))
    return random_permutation

v = permute(v)

print(v)

[10, 4, 11, 3, 13, 7, 18, 19, 8, 9, 2, 12, 20, 14, 1, 6, 17, 15, 16, 5]

In [7]:
for i in range(df.shape[0]):
    v = permute(v)
    df.iloc[i, 1:] = v

df.head()

,Nom,Cd. Gérard Dumont,Cd. Hugues Hamon,Cd. Timothée-Théophile Chevallier,Cd. Zacharie Lambert,Cd. Martin Germain,Cd. Élodie Gaillard,Cd. Alexandre du Jean,Cd. Charlotte Bruneau,Cd. Maurice Rossi,...,Cd. Marcelle Bailly,Cd. Suzanne-Christine Gaillard,Cd. Adèle Dumas,Cd. Julie Pinto-Fernandes,Cd. Dominique Nguyen,Cd. Franck Jourdan-Morel,Cd. Alexandre Rey-Diallo,Cd. Jérôme Lombard,Cd. Paulette Gros,Cd. Corinne Boulay
20,Bernard Marty,18,8,12,14,2,13,16,9,6,...,4,15,17,20,5,7,11,10,1,3
21,Emmanuelle Delaunay,8,2,12,18,13,10,1,3,14,...,7,11,5,19,9,17,15,4,6,20
22,Denise Lelièvre,5,1,20,18,15,13,8,17,14,...,4,12,16,2,6,19,9,7,10,11
23,Émilie-Claire Mercier,15,14,16,7,11,12,2,9,8,...,17,6,3,10,5,13,1,4,20,18
24,Caroline Joly,1,12,13,4,14,16,3,15,6,...,20,11,9,2,5,7,10,17,19,18

In [8]:
df.to_csv('preference.csv', index=False, encoding='utf-8')
print("DataFrame créé et exporté en 'preference.csv'.")

DataFrame créé et exporté en 'preference.csv'.

# Test Voting Table

In [9]:
col = ['Noms','a', 'b', 'c', 'd']
df2 = pd.DataFrame(columns=col)

c = 0
n = "voter_"
for i in range(5):
    c += 1
    name = n + str(c)
    v = [name, 1, 2, 3, 4]
    df2.loc[len(df2)] = v

for i in range(4):
    c += 1
    name = n + str(c)
    v = [name, 1, 3, 2, 4]
    df2.loc[len(df2)] = v

for i in range(2):
    c += 1
    name = n + str(c)
    v = [name, 3, 2, 4, 1]
    df2.loc[len(df2)] = v

for i in range(6):
    c += 1
    name = n + str(c)
    v = [name, 4, 2, 3, 1]
    df2.loc[len(df2)] = v

for i in range(8):
    c += 1
    name = n + str(c)
    v = [name, 3, 2, 1, 4]
    df2.loc[len(df2)] = v

for i in range(2):
    c += 1
    name = n + str(c)
    v = [name, 2, 3, 4, 1]
    df2.loc[len(df2)] = v


df2.to_csv('test.csv', index=False, encoding='utf-8')
print("DataFrame créé et exporté en 'test.csv'.")

DataFrame créé et exporté en 'test.csv'.

## Data for question 5

In [13]:
nb_voters = 10
candidates_list = ['Noms', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
df2 = pd.DataFrame(columns=candidates_list)

c = 0
n = "voter_"
for i in range(int(0.4 * nb_voters)):
    c += 1
    name = n + str(c)
    v = [name, 1, 2, 3, 4, 5, 6, 7, 8] # A > B > C > D > E > F > G > H
    df2.loc[len(df2)] = v

for i in range(int(0.1 * nb_voters)):
    c += 1
    name = n + str(c)
    v = [name, 1, 2, 3, 4, 5, 6, 8, 7] # A > B > C > D > E > F > H > G
    df2.loc[len(df2)] = v

for i in range(int(0.4 * nb_voters)):
    c += 1
    name = n + str(c)
    v = [name, 2, 3, 1, 8, 5, 6, 4, 7] # C > B > A > H > E > F > G > D 
    df2.loc[len(df2)] = v

for i in range(int(0.1 * nb_voters)):
    c += 1
    name = n + str(c)
    v = [name, 2, 3, 4, 5, 6, 7, 8, 1] # H > A > B > C > D > E > F > G
    df2.loc[len(df2)] = v

df2.to_csv('data_question5.csv', index=False, encoding='utf-8')